:root {
    --accent-wine: rgb(150 10 10 / 58%);
    --pale-green: rgb(42 112 21 / 74%);
    --old-blue: rgba(43, 59, 151, 0.863);
    --old-yellow: rgb(194 178 36 / 90%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Lato, sans-serif;
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    min-width: 320px;
}


p {
    margin: 10px 0;
}

.main {
    width: 60%;
    margin: auto;
    padding: 20px 15px;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 17px 4px #00000024;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    font-size: 1.5rem;
    line-height: 1.2;
    background-color: white;
    color: black;
    border-radius: 5px;
    border-left: 5px solid rgb(23, 217, 169);
}

header p {
    color: rgb(126, 119, 119);
}

.header-main {
    color: #0e101a;
    letter-spacing: 0;
    font-weight: 400;
    font-size: calc(var(--rem)*1px*0.875);
    line-height: calc(var(--rem)*1px*1.5);
}

.header-img {
    background-image: url(./images/aleksei-ieshkin-A6obuTm7_z0-unsplash.jpg);
    background-size: contain;
    width: 30%;
    border-radius: 2px;
}

.main-content {
    min-height: 100%;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-around;
    align-items: stretch;
    justify-items: center;
    gap: 15px;

}

.book,
#add-book {
    padding: 8px 5px;
    background-color: white;
    color: #0e101a;
    width: 150px;
    height: 170px;
    box-shadow: 0px 0px 17px 4px #00000024;
    border-radius: 3px;
}



.fa-circle-rotate {

    transform: rotate(46deg);
}



.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8rem;
    line-height: 1.5;
    padding: 20px 20px;
    color: #30302c;
    background-image: url(./images/book-cover.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

.book-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7e7e79e;
    width: 152px;
    position: relative;
    left: -20px;
    bottom: -15px;
}

.book h2 {
    font-weight: 200;
}

.book:nth-child(4n-1) {
    background-color: var(--accent-wine);

}

.book:nth-child(4n) {
    background-color: var(--pale-green);
    color: #dde02fe3;

}

.book:nth-child(4n+1) {
    background-color: var(--old-blue);
    color: var(--old-yellow);
}

.book:nth-child(4n+2) {
    background-color: var(--old-yellow);
    color: #20201e;

}

#add-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(232 75 75);
}

.hide {
    display: none !important;
}


.delete-btn,
.status-btn {
    font-size: 1.5rem;
    color: var(--accent-wine);
}


.delete-btn:hover,
.status-btn:hover {
    cursor: pointer;
    color: rgb(186 19 19);
}



.status-p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: var(--accent-wine);

}

.add-book-form {
    padding: 10px;
    margin-top: 15px;
    font-size: 1.5rem;
    height: 0;
    opacity: 0;
    transition: height 0.1s ease, opacity 3s ease;
    position: relative;
    right: 10000px;
}

.form-display {
    height: 300px;
    width: auto;
    opacity: 1;
    right: 0px;

}

input {
    display: block;
    margin: 5px 0;
    font-size: 2rem;
    max-width: 100%;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 2px;
}

input[type=radio] {
    border: none;
}

input:focus-visible {
    outline: none;
    border: 1px solid black;
}

.read-status-fieldset {
    border: none;
}

#add-book-btn {
    margin: 10px 0;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 3px;
    border: none;
    color: aliceblue;
    background-color: rgb(67, 114, 214);
}

#add-book-btn:hover {
    background-color: rgb(67, 77, 214) ;
    cursor: pointer;
}

.radio-label {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
}

@media (max-width: 820px) {

    header {
        flex-direction: column;
    }

    .header-img {
        height: 100px;
        width: 100%;
    }

    .main {
        width: 80%;
    }
    
}